/* Add some margin below the form to create space */
form {
    margin-bottom: 20px;
}

/* Set the canvas to display as a block element */
canvas {
    width: 1000px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block; /* Ensure the canvas is treated as a block-level element */
}