/* Add some margin below the form to create space */
form
{
    margin-bottom: 10px;
}

button
{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Center the content vertically and horizontally */
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* center vertically */
    align-items: center;  /* center horizontally */
    
}

/* To make generation-r and -(r+1) canvas side by side */
.side-by-side-content {
    display: flex;
    justify-content: center;  /* center horizontally */
    align-items: center;  /* center vertically */
    flex-wrap: wrap;  /* wrap the content to next line if it overflows */
}

/* select the button elements in the side-by-side-content */
.side-by-side-content button {
    /* top right bottom left */
    margin: 0px 10px 30px 10px;  
}

/* To overlap the bit and check canvases*/
.canvas-container {
    position: relative;
    top: auto;
    left: auto;
    width: 60vmin;
    height: 60vmin;
}

/* box for a single canvas object */
canvas {
    position: absolute;  /* position relative to the container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}